<div class="card">
  <div class="card-body">

    <div class="row mt-2">
      <div class="col-sm-12 col-lg-8">
        <h5>Alias:</h5>
        <p> {{respuesta.alias}}</p>
        <h5>No. Establecimiento:</h5>
        <p> {{respuesta.lugarId}}</p>
        <h5>No. Cliente:</h5>
        <p> {{respuesta.clienteId}}</p>
        <h5>No. Cliente:</h5>
        <p> {{respuesta.clienteId}}</p>

        <h5>Contraseña cliente:</h5>
        <p> {{respuesta.clienteContrasena}}</p>

        <h5>Contraseña operador:</h5>
        <p> {{respuesta.operadorContrasena}}</p>

        <button (click)="continuar()" class="btn btn-primary waves-effect waves-light m-r-10">
          Continuar
        </button>
      </div>

    </div>
  </div>
</div>

